@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC</h1>
    <p class="lead">Ejercicios para LAB .NET 2022</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Empleados</h2>
        <p><a class="btn btn-default" href="/Employees/Listar">Ir a la lista &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Compañia de Transporte</h2>
        <p><a class="btn btn-default" href="/Shippers/Listar">Ir a la lista &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>