<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar>
            <span>Menú</span>
            <span class="spacio"></span>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        <mat-nav-list>
            <a mat-list-item>
                <mat-icon mat-icon-list>people</mat-icon>
                <span> Empleados</span>
            </a>
            <a mat-list-item routerLink="employees/agregar" (click)="sidenav.toggle()">
                <mat-icon mat-icon-list>add</mat-icon>
                <span>Agregar</span>
            </a>
            <a mat-list-item routerLink="employees/listado" (click)="sidenav.toggle()">
                <mat-icon mat-icon-list>view_list</mat-icon>
                <span>Listado</span>
            </a>
            <hr mat-list-item>
            <a mat-list-item>
                <mat-icon mat-icon-list>local_shipping</mat-icon>
                <span>Transporte</span>
            </a>
            <a mat-list-item routerLink="shippers/agregar" (click)="sidenav.toggle()">
                <mat-icon mat-icon-list>add</mat-icon>
                <span>Agregar</span>
            </a>
            <a mat-list-item routerLink="shippers/listado" (click)="sidenav.toggle()">
                <mat-icon mat-icon-list>view_list</mat-icon>
                <span>Listado</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>TP9</span>
    </mat-toolbar>

    <div class="container">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>